@import 'Color';
@import 'Base';
@import 'Button';
@import 'Code';
@import 'Divider';
@import 'Form';
@import 'Grid';
@import 'Link';
@import 'Spacing';
@import 'Typography';

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

button {
  margin-right: 5px;
}
header {
  padding-top: 5rem;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
  border: 1px solid #9b4dca;
  border-radius: 3px;
}
.item {
  min-height: 6rem;
}
.button-small {
  padding: 0 1.5rem;
  line-height: 3rem;
  height: 3rem;
}
.done {
  color: gray;
  text-decoration: line-through;
}
.row {
  display: flex;
  flex-direction: row;
}
.left {
  width: 10rem;
}
.right {
  flex:1;
}
